# Ignore everything
/*

# But not these folders/files...
!.config/
!.themes/
!.icons/
!.scripts/
!.walls
!LICENSE
!README.md
!.dotfiles-guide.md
!.config/Code/User/settings.json
!.gitignore
!.config/oh-my-posh/powerlevel10k_lean.omp.json

# Also heres the folders/files inside .config which needs to be ignored
.config/audacity/
.config/btop/btop.log
.config/chromium/
.config/dconf/
.config/Code
.config/Discord
.confi/discord
.config/dleyna-renderer-service.conf
.config/eog/
.config/evolution/
.config/GIMP/
.config/ghb/
.config/go/
.config/.gsd-keyboard.settings-ported
.config/heroic
.config/inkscape/
.config/kdeconnect/
.config/kdeglobals
.config/libreoffice/
.config/lsp-plugins/
.config/menus/
.config/monitors.xml
.config/monitors.xml~
.config/nautilus-compare.conf
.config/oh-my-posh
.config/okular.kmessagebox
.config/okularpartrc
.config/okularrc
.config/Perplexity
.config/pulse/
.config/QtProject.conf
.config/QtProject/
.config/rclone/
.config/spicetify/
.config/spotify/
.config/Start-Page/
.config/superfile/
.config/touchegg/
.config/user-share/
.config/VSCodium/
.config/winegui/
.config/wireguard
.config/Windscribe
.config/yelp
.config/zsh/.zhistory
.config/zsh/.zcompdump
.config/zsh/zsh-compdump
