@import "/home/Asmit/.cache/wal/colors-waybar.css";

@define-color main-color darker(darker(@color9));
@define-color main-bg-color darker(@color9);

* {
    font: bold 13px "JetBrainsMono Nerd Font Propo";
    border: none;
    border-radius: 0px;
    box-shadow: none;
    text-shadow: none;
}

window#waybar {
    background: alpha(@background, 0.85);
    border-bottom: 0px solid alpha(@background, 0.85);
}

window#waybar.overlay {
    background: alpha(@background, 0);
    color: alpha(@main-color, 0.5);
}

#custom-playerinfo {
    color: @main-color;
}

#window {
    padding: 2px 10px;
    margin: 0px 0px 0px 0px;
    background-color: transparent;
    border-radius: 10px;
    color: @main-color;
}

tooltip {
    padding: 10px 10px;
    background: alpha(@background, 0.8);
    border: 2px solid alpha(lighter(@main-color), 0.3);
    border-radius: 10px;
}

tooltip label {
    color: @foreground;
}

#custom-arrow-left,
#custom-arrow-right {
    color: alpha(lighter(@main-color), 0.8);
    margin: 4px 4px 4px 4px;
}

#cpu,
#memory,
#disk,
#temperature,
#custom-weather {
    padding: 3px 10px;
    margin: 7px 4px;
    background: alpha(@main-bg-color, 0.2);
    color: @main-color;
    border-radius: 12px;
}

#custom-record,
#custom-stop,
#custom-section,
#custom-theme-light,
#custom-theme-dark {
    padding: 1px 10px;
    margin: 8px 4px;
    background: alpha(@main-bg-color, 0.2);
    color: @main-color;
    border-radius: 12px;
}

#pulseaudio,
#network,
#bluetooth,
#backlight {
    padding: 0px 9px;
    color: lighter(@main-color);
}

#workspaces {
    margin: 5px 2px;
    padding: 0px 0px;
    background: alpha(@main-bg-color, 0.2);
    border-radius: 12px;
}


#workspaces button {
    padding: 0px 4px;
    margin: 0px 4px;
    color: alpha(@foreground, 0.7);

}

#workspaces button.active {
    transition: color 0.5s;
    color: @main-color;
    background: alpha(@main-bg-color, 0.2);
    border-radius: 12px;
    margin: 0px 0px;
}

#workspaces button.urgent,
#workspaces button:hover {
    color: @color7;
    background: alpha(@main-color, 0.1);
    border-radius: 12px;
}

#custom-start {
  font-family: monospace;
  font-size: 24px;
  color: @main-bg-color;
  background-color: alpha(lighter(@main-color), 0.1);
  padding-left: 14px;
  padding-right: 18px;
}

#custom-start:hover {
  color: lighter(@text-color);
  background-color: alpha(darker(@main-color), 0.3);
}

#tray {
    color: lighter(@main-color);
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}

#custom-notifications,
#custom-updates,
#custom-theme-switcher {
    padding: 0px 10px;
    margin: 6px 8px;
    color: @main-color;
    background: alpha(@main-bg-color, 0.2);
    color: @main-color;
    border-radius: 12px;
}

#custom-cpucat {
  font-family: "Waycat", monospace;
  font-size: 30px;
  font-weight: bold;
  color: @main-color;
  padding-left: 4px;
  margin-top: 4px;
}

#custom-cpucat:hover {
  color: lighter(@main-color);
}

#custom-privacydots {
    padding-left: 8px;
    padding-right: 8px;
}

#clock {
    padding: 4px 6px 0px 0px;
    margin: 0px 2px 4px 4px;
    border-radius: 10px;
    color: lighter(@main-color);
    font: bold 14px "JetBrainsMono Nerd Font Propo";
}

#power {
    color: @main-color;
    border-radius: 10px;
    margin: 4px 0px 0px 0px;
}

#power-profiles-daemon {
    padding: 0px 8px;
    margin: 4px 0px 8px 4px;
    color: @main-color;
    background: alpha(@main-bg-color, 0.1);
    border-radius: 10px;
}

#battery {
    padding: 0px 8px;
    margin: 0px 2px 4px 2px;
    color: lighter(@main-color);
    background: alpha(@main-color, 0);
}

#taskbar {
    padding: 0px 4px;
    margin: 0px 0px;
    background: alpha(darker(@main-color), 0);
    border-radius: 0px;
    color: lighter(@main-color);
}

#taskbar button:hover {
    color: @main-color;
    background: alpha(darker(@main-color), 0.1);
    border-radius: 10px;
}

#taskbar button.active {
    color: @main-color;
    background: alpha(darker(@main-color), 0.3);
    border-radius: 10px;
}
